body{
    font-family: 'Lato', sans-serif;
}

.red-color{
    color: red;
}

.half-width{
    width: 50%;
    padding: 2%;
    margin-top: 30px;
    margin-left: 80px;
    
}

.half-width img{
    width: 70%;
    margin-right: 80px;
    
    
}

.link-button{
    background-image: linear-gradient(red,magenta);
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;

}

#first-sight{
    display: flex;
    align-items: center;
}
.about-me{
   width: 80%;
   margin-left: 105px;
   position: relative;
   text-align: left;
   color: solid black;
}

.centered{
    position: absolute;
    top: 25%;
    left: 50%;
    
}
.my-recipe{
    text-align: center;
}

.recipe-title{
    box-shadow: 10px 10px 20px 10px gray ;
    width: 18%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    padding: 2%;

}


.recipe-title img{
    border-radius: 10px;
    border: 1px;
    padding: 5px;
    width: 220px;

}

.healthy-recipes{
    display: flex;
    border-left: 2%;
    align-items: center;

    

}

.message-from-atkiya{
   
    text-align: center;
    height: 20%;
    align-content: 2%;
    padding: auto;
    margin-bottom: 2%;
    }

.message-title{
    color: red;
}

 .fifth-part{
    display: flex;
    box-shadow: 5px 5px 10px 10px gray;
    border-radius: 10px;
   
    width: 30%;
    padding: 1%;
    margin-left: 34%;
    margin-bottom: 2%;
    margin-right: 5%;
    
} 

.caption{
    text-align: center;
    background-color:mediumvioletred;
    padding : 30px 0;
   
    }

.caption-2{
    color: mintcream;
}

.instruction{
    text-align: center;
}





